.keyart,
.keyart_layer {
	height: 1000px;
}

.keyart {
	position: relative;
	z-index: 10;
	background-color: #bf2424;
}

.keyart_layer {
	background-position: bottom center;
	background-size: auto 1038px;
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
}

.keyart_layer.parallax {
	position: fixed;
}

.main-content {
	width: 100%;
	position: absolute;
	z-index: 200;
}


#keyart-1 {
	background-image: url(https://raw.githubusercontent.com/mariane19/Parallax/main/img/layer1.png);
}

#keyart-2 {
	background-image: url(https://raw.githubusercontent.com/mariane19/Parallax/main/img/layer2.png);
}

#keyart-3 {
	background-image: url(https://raw.githubusercontent.com/mariane19/Parallax/main/img/layer3.png);
}

#keyart-4 {
	background-image: url(https://raw.githubusercontent.com/mariane19/Parallax/main/img/layer4.png);
}

#keyart-5 {
	background-image: url(https://raw.githubusercontent.com/mariane19/Parallax/main/img/layer5.png);
}

#keyart-6 {
	background-image: url(https://raw.githubusercontent.com/mariane19/Parallax/main/img/layer6.png);
}

#keyart-7 {
	background-image: url(https://raw.githubusercontent.com/mariane19/Parallax/main/img/layer7.png);
}

#keyart-8 {
	background-image: url(https://raw.githubusercontent.com/mariane19/Parallax/main/img/layer8.png);
}

#keyart-scrim {
	opacity: 0;
}